* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Hind", sans-serif;
  background-attachment: fixed;
  background: rgb(227, 231, 234);
}

main {
  display: flex;
  align-items: flex-end;
  width: 776px;
  justify-content: space-around;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 450px;
  background: rgb(255, 255, 255);
}

td {
  width: 50px;
  height: 50px;
  border-right: 1px solid rgb(156, 154, 154);
  border-bottom: 1px solid rgb(156, 154, 154);
  text-align: center;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
}
td:hover {
  background: rgb(236, 233, 233);
}

td:nth-child(3n) {
  border-right: 2px solid black;
}

tr:nth-child(3n) td {
  border-bottom: 2px solid black;
}

.side-tools {
  display: flex;
  flex-direction: column;
  height: 452px;
  justify-content: space-evenly;
  align-items: stretch;
}
.side-tools > div {
  display: flex;
  height: 173px;
  flex-direction: column;
  justify-content: space-evenly;
}

.help-btn,
.check-btn {
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: space-evenly;
}

.help-btn > button,
.check-btn > button {
  padding: 11px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 17px;
  background: rgb(78 111 232);
  color: aliceblue;
  width: 87px;
}
.help-btn > button:hover {
  background: rgb(82 143 206);
}

.check-btn > button {
  background: rgb(39 144 110);
}
.check-btn > button:hover {
  background: rgb(79 164 136);
}

.tools-btn {
  display: flex;
  justify-content: space-evenly;
}
.tools-btn > button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.tools-btn > button:active {
  background: rgb(201, 198, 198);
}
.tools-btn > button > img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.number-btn {
  display: flex;
  width: 232px;
  height: 228px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.number {
  font-size: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.number:hover {
  background: rgb(201, 198, 198);
}

@media only screen and (max-width: 768px) {
  body {
    position: fixed;
  }
  main {
    flex-direction: column;
    width: auto;
  }
  table {
    margin-bottom: 1rem;
  }
  .side-tools {
    display: flex;
    align-items: center;
    width: 450px;
    height: 203px;
    flex-wrap: wrap;
  }
  .side-tools > div {
    width: 399px;
    height: 212px;
  }

  .help-btn {
    height: 67px;
    width: 236px;
  }
  .tools-btn {
    width: 223px;
  }
  .tools-btn > button > img {
    width: 35px;
    height: 35px;
  }

  .number-btn {
    width: 189px;
    height: 212px;
  }

  .number {
    font-size: 30px;
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 454px) {
  main {
    align-items: center;
    margin-bottom: 2rem;
  }
  table {
    width: 400px;
    margin-bottom: 0.5rem;
  }

  td {
    width: 44.444px;
    height: 44.444px;
    font-size: 20px;
  }
  .side-tools {
    display: flex;
    align-items: center;
    width: 400px;
    height: 285px;
    flex-direction: row;
  }
  .side-tools > div {
    width: 399px;
    height: 111px;
  }

  .help-btn {
    justify-content: space-between;
    height: 35px;
    width: 397px;
  }

  .help-btn > button,
  .check-btn > button {
    font-size: 17px;
    padding: 10px;
  }
  .tools-btn {
    width: 54px;
    height: 233px;
    display: flex;
    flex-direction: column;
  }

  .tools-btn > button > img {
    width: 27px;
    height: 27px;
  }

  .number-btn {
    width: 168px;
    height: 203px;
  }

  .number {
    width: 44px;
    height: 44px;
  }
}

@media only screen and (max-width: 405px) {
  main {
    margin-bottom: 0;
  }
  table {
    width: 300px;
    margin-bottom: 0.5rem;
  }

  td {
    width: 33.333px;
    height: 33.333px;
  }
  .side-tools {
    width: 300px;
    height: 242px;
  }
  .side-tools > div {
    width: 399px;
    height: 111px;
  }

  .help-btn > button,
  .check-btn > button {
    font-size: 16px;
    padding: 7px;
    width: 77px;
  }
  .check-btn > button {
    width: 60px;
  }
  .tools-btn {
    height: 203px;
  }
  .tools-btn > button > img {
    width: 22px;
    height: 22px;
  }
  .number-btn {
    width: 171px;
    height: 171px;
  }
}
